@use "sass:map";

// colors
$colors: (
	grayscale: (
		yoru: #0f0f0f,
		kesseki: #191919,
		iwa: #262626,
		tetsu: #393939,
		amagumo: #4c4c4c,
		gin: #767676,
		okami: #a0a0a0,
		tsuki: #bfbfbf,
		fuyu: #cacaca
	),
	accent: (
		ume: #8f8aac,
		ajisai: #a39ec4,

		kosumosu: #ac8aac,
		sakura: #c49ec4,

		chikyu: #aca98a,
		suna: #c4c19e,

		kaen: #ac8a8c,
		ichigo: #c49ea0,

		aki: #c6a769,
		yuyake: #ceb188,

		mizu: #8aacab,
		sora: #9ec3c4,

		take: #8aac8b,
		kusa: #9ec49f,

		shinkai: #8a98ac,
		kori: #a5b4cb
	),
);

:root {
	@each $type, $_colors in $colors {
		@each $name, $color in $_colors {
			--#{$type}-#{$name}: #{$color};
		}
	}
}

// reset
body, html {
	width: 100%;
	height: 100%;
	background-color: var(--grayscale-kesseki)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

.container {
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	display: flex;
	flex-direction: column;
	padding-block: 20px;
	padding-inline: 20px;
  // justify-content: center;
  align-items: center;
	background-color: var(--grayscale-iwa);
	border-radius: 10px;
	outline: 2px solid var(--grayscale-tetsu);
	width: 350px;
	height: 500px;
}

